@import "../../variables.scss";

.cardCard {
    margin: 0 auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: $font;
    font-size: $font-smaller-size;
    font-weight: $font-weight;
    width: 96%;
    margin-top: $nav-middle-padding;
    border-radius: $nav-border-radius;
    background-color: $nav-light-color;
    box-shadow: $box-shadow;
    padding: $nav-small-padding;
    transition: 1s;

    .img {
        width: 80px;
        padding-top: 60px;
        background-color: #475E74;
        border-radius: $nav-border-radius;
    }

    h1 {
        margin: 0;
        width: 100%;
        color: $nav-dark-color;
        text-align: center;
    }

    &:hover {
        box-shadow: 2px 2px 3px 3px #aaa;
    }
}